*,
*::before,
*::after {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

body {
    background: black;
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

.logo {
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

#question {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.5em;
    font-weight: bold;
}

.container {
    width: 500px;
    max-width: 80%;
    display: block;
    justify-content: center;
    text-align: center;
    background: red;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 5px solid white;
    box-shadow: 0 0 10px 2px;
}

.btn-answers {
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding: 0 0 auto;
    width: 75%;
    gap: 10px;
}

.btn {
    font-size: 1.25em;
    margin: 0 0 auto;
    width: auto;
    padding: 0 0 10x;
    background: black;
    border-radius: 10px;
    border: 50%;
    color: white;
    box-shadow: 0 0 6px 2px; 
}

.next-btn {
    font-size: 1.75em;
    font-weight: bold;
}

.start-btn {
    font-size: 1em;
    justify-content: ;
}

.controls {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
}

.hidden {
    display: none;
}

.score-area {
    margin: 5px auto;
    width: 100%;
    font-size: 1.5rem;
    display: inline-block;
   
}

#scores {
    display: inline-block;
    padding: 20px;
}
